* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain-regular-webfont";
  color: white;
}
html,
body {
  height: fit-content;
  width: 100vw;
}
#loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  padding: 25vh 10vw;
}
.line h1 {
  line-height: 1;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 2vw;
}
#main {
  height: 100%;
  width: 100vw;
  color: #ffffff;
  background-color: #000000;
  position: relative;
}
#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}
.line {
  display: flex;
  align-items: center;
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  justify-content: flex-start;
  gap: 2vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}

.line h2 {
  line-height: 1;
  font-size: 6vw;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgb(244, 233, 233);
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}
.now {
  animation: now 2s infinite;
  animation-delay: 1s;
}

@keyframes now {
  from {
    font-family: cursive;
  }
  to {
    font-family: "silk serif";
  }
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vh;
}
#nav-part2 {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 3vw;
}
#nav-part2 h4 {
  font-size: 0.8vw;
  font-weight: 500;
}
#page1_title {
  font-size: 22vh;

  margin-left: 20vw;
  line-height: 20vh;
  height: fit-content;
  overflow: hidden;
}
#description {
  font-family: monospace;
  /* overflow: hidden; */
  text-transform: uppercase;
  line-height: 7vw;
}
#body {
  margin-top: 15vh;
}
#cursor {
  /* background-color: white; */
  /* cursor: none !important; */
  border: 1px solid white;
  color: transparent;
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  z-index: 999;
  position: fixed;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
.hero3 {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hero3 div:hover {
  -webkit-text-stroke: 1px rgb(251, 251, 251);
  color: transparent;
  font-weight: 400;
  opacity: 0.1;
  text-decoration: line-through;
}
#page2 {
  width: 100%;
  height: 100vh;
}
#page video {
  background-color: red;
  height: 20vh;
  width: 40vw;
  padding: 2vh 4vw;
}
#video-container {
  height: 60vh;
  width: 70vw;
  position: relative;
  left: 28%;
  margin-top: 8vh;
}
#video-container video {
  height: 60vh;
  width: 60vw;
  object-fit: cover;
}
#video-container img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#video-cursor {
  background-color: rgb(248, 160, 8);
  /* cursor: none!important; */
  border: 1px solid white;
  color: transparent;
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
#video-cursor i {
  font-size: 2.5vw;
}
#page3 {
  min-width: 100vh;
  width: 100%;
  position: relative;
}

#page3 {
  min-width: 100vh;
  width: 100%;
  position: relative;
}

#page4 {
  height: max-content;
  width: 60vw;
  margin: 15vh 30vw;
  position: relative;
}
#paged-content h2 {
  font-size: 10vh;
  font-family: cursive;
  margin-bottom: 15vh;
}
#paged-content p {
  width: 40vw;
  font-size: 4vh;
  font-family: fantasy;
  margin: 7vh 0;
}
.underline {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 50vw;
  height: 100vh;
  gap: 2vw;
}
.underline img {
  width: 70vw;
  height: 70vh;
  object-fit: contain;
}
.underline div {
  font-size: 2.5vh;
  /* width: 20vw; */
}
#blue {
  position: absolute;
  background-color: rgb(49, 62, 246);
  padding: 3vh 3vw;
  top: 113vh;
  left: 17vw;
  width: 35vw;
  height: 90vh;
}
#blue #content {
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 1vw;
}
#content div {
  width: 8vw;
  font-size: 2vh;
}
#content h4 {
  font-weight: 100;
  font-size: 4vh;
  font-family: cursive;
}
#page0 {
  height: 20vh;
  width: 100vh;
  margin-top: 20vh;
  /* margin-left: 30vw; */
}
#page5 {
  height: 130vh;
  /* width: 100vh; */
  /* margin-top: 60vh; */
  /* margin-left: 30vw; */
}

.elem {
  white-space: nowrap;
  /* overflow-x: hidden; */
  margin-bottom: -2vw;
}

.elem h1 {
  font-size: 10vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: red; */
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: loader-anime;
  animation-name: loader-anime;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes loader-anime {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes loader-anime {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  /* overflow-x: hidden; */
  margin-bottom: -2vw;
}

.elem2 h1 {
  font-size: 9vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: red; */
  color: transparent;
  display: inline-block;
  -webkit-transform: translateX(calc(-100% - 20px));
  -ms-transform: translateX(calc(-100% - 20px));
  transform: translateX(calc(-100% - 20px));
  -webkit-animation-name: loader-anime;
  animation-name: loader-anime;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
